@import url("./common.css");

body {
    margin: 0;
}

footer {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    padding: 1.5em 15%;
}

img#logo {
    width: 44%;
    height: auto;
    object-fit: contain;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    margin: 0 auto;
}

nav a {    
    line-height: 2em;
}

nav a::after {
    content: '\a';
    white-space: pre;
}

h1, h2, p {
    color: var(--Text-Color_60);
}

h1 {
    font-size: 16px;
}

h2, p {
    font-size: 14px;
}

address {
    font-style: normal;
}

a#phone {
    font-size: 25px;
    font-weight: 500;
}

div#social-nets {
    display: inline;
    margin: 0;
}

button {
    aspect-ratio: 1 / 1;
    border: 0px;
    padding: 1em;
}

button#tg {
    background-color: var(--Accent-Light-Blue_100);
}

button#wa {
    background-color: var(--Success_100);
}

button#vk {
    background-color: var(--Accent-Blue_100);
}

address.dockbottom, p.dockbottom {
    position: relative;
    margin-top: auto;
}